<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<!-- qna 게시판 목록 보기 -->
	<select id="qnaList" resultType="QnaVO">
		SELECT *
		FROM qna
		order by q_id desc
	</select>

	<!-- free 게시판 목록 보기 -->
	<select id="freeList" resultType="FreeVO">
		SELECT *
		FROM free
		order by f_id desc
	</select>

	<!-- qna 게시판 등록 -->
	<insert id="qnainsert" parameterType="QnaVO">
		INSERT INTO qna (q_id,g_cid,m_id,q_title,q_message,q_date,q_pass,q_cnt)
		VALUES(seq_q_id.nextval,1,1,#{q_title},#{q_message},sysdate,#{q_pass},1)
	</insert>



	<!-- free 게시판 등록 -->
	<insert id="freeinsert" parameterType="FreeVO">
		INSERT INTO free (f_id,g_cid,m_id,f_title,f_message,f_date,f_pass,f_cnt)
		VALUES(seq_f_id.nextval,1,1,#{f_title},#{f_message},sysdate,#{f_pass},1)
	</insert>

	<!-- qna 게시판 상세 보기 -->
	<select id="qnadetail" resultType="QnaVO">
		SELECT *
		FROM qna
		WHERE q_id = #{q_id}
	</select>
	
	<!-- qna 게시판 삭제 -->
	<delete id="qnadelete" parameterType="QnaVO">
	DELETE from qna
	WHERE q_id = #{q_id}
	</delete>

	<!-- qna 게시판 수정 -->
	<update id="qnaupdate" parameterType="QnaVO">
	UPDATE qna SET
	Q_TITLE = #{q_title},
	Q_MESSAGE = #{q_message},
	Q_DATE = sysdate
	WHERE q_id = #{q_id}
	</update>

	<!-- Free 게시판 상세 보기 -->
	<select id="freedetail" resultType="FreeVO">
		SELECT *
		FROM free
		WHERE f_id = #{f_id}
	</select>
	
	<!-- Free 게시판 삭제 -->
	<delete id="freedelete" parameterType="FreeVO">
	DELETE from free
	WHERE f_id = #{f_id}
	</delete>
	
	<!-- Free 게시판 수정 -->
	<update id="freeupdate" parameterType="FreeVO">
	UPDATE free SET
	F_TITLE = #{f_title},
	F_MESSAGE = #{f_message},
	F_DATE = sysdate
	WHERE f_id = #{f_id}
	</update>


<!--  style 목록 -->
	<select id="stylelist" parameterType="StyleReviewVO" resultType="StyleReviewVO">
		SELECT *
		FROM style 
		ORDER BY s_id DESC
	</select>

<!--  style 목록 -->
	<select id="styledetail" parameterType="StyleReviewVO" resultType="StyleReviewVO">
		SELECT *
		FROM style 
		WHERE s_id = #{s_id}
	</select>



</mapper>


